<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} [ %t:%r ] - [ %p ] %l %m%n" />
		</layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/party.log" />
		<param name="Append" value="true" />
		<!-- <param name="DatePattern" value="'.'yyyy-MM-dd-HH'.log'" /> -a -->
		<!-- <param name="ImmediateFlush" value="false" /> -->
		<!-- <param name="BufferedIO" value="true" />
		<param name="BufferSize" value="8192" /> -->
		<layout class="org.apache.log4j.PatternLayout">
			<!-- <param name="ConversionPattern" value=" %d{yyyy-MM-dd HH:mm:ss} - %m%n" /> -->
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} [ %t:%r ] - [ %p ] %l %m%n" />
		</layout>
	</appender>
	<appender name="ASYNCOUT" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="FILE" />
	</appender>
	<root>
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ASYNCOUT" />
	</root>
</log4j:configuration>