<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cmcc.mobile.yiqi.entity.dao.IntelligentBoxMapper">
    <resultMap id="BaseResultMap" type="cmcc.mobile.yiqi.entity.BannerImg">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="text" property="text" jdbcType="VARCHAR"/>
    </resultMap>
      <resultMap id="BaseMap" type="cmcc.mobile.yiqi.vo.ConsumeVo">
     <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_img" jdbcType="VARCHAR" property="productImg" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="original_price" jdbcType="DOUBLE" property="originalPrice" />
    <result column="favorable_price" jdbcType="DOUBLE" property="favorablePrice" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="discount" jdbcType="DOUBLE" property="discount" />
    <result column="product_number" jdbcType="INTEGER" property="productNumber" />
    <result column="container_number" jdbcType="INTEGER" property="containerNumber" />
    <result column="corp_id" jdbcType="BIGINT" property="corpId" />
    <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
     <result column="product_detail" jdbcType="VARCHAR" property="productDetail" />
     <result column="app_id" jdbcType="VARCHAR" property="appId" />
     <result column="mch_id" jdbcType="VARCHAR" property="mchId" />
     <result column="order_code" jdbcType="VARCHAR" property="order_code" />
      <result column="money" jdbcType="DOUBLE" property="money" />
    </resultMap>
        <resultMap id="BaseObject" type="cmcc.mobile.yiqi.vo.ProductVo">
        <result column="productName" property="productName" jdbcType="VARCHAR"/>
        <result column="productNumber" property="productNumber" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime" />
        <result column="status" property="status" jdbcType="INTEGER"/>
         <result column="containerNumber" property="containerNumber" jdbcType="VARCHAR"/>
          <result column="machineId" property="machineId" jdbcType="VARCHAR"/>
           <result column="orderCode" property="orderCode" jdbcType="VARCHAR"/>
           <result column="productId" property="productId" jdbcType="BIGINT"/>
    </resultMap>
            <resultMap id="object" type="cmcc.mobile.yiqi.vo.RefundVo">
        <result column="orderCode" property="orderCode" jdbcType="VARCHAR"/>
        <result column="app_id" property="appId" jdbcType="VARCHAR"/>
        <result column="mch_id" property="mchId" jdbcType="VARCHAR"/>
        <result column="refundMoney" property="refundMoney" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, create_time, img_url, type, text
    </sql>
        <sql id="Base_List">
        id, create_time, type
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from banner_img
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from banner_img
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="cmcc.mobile.yiqi.entity.BannerImg">
        insert into banner_img (id, create_time, img_url,
        type, text)
        values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{imgUrl,jdbcType=VARCHAR},
        #{type,jdbcType=VARCHAR}, #{text,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="cmcc.mobile.yiqi.entity.BannerImg">
        insert into banner_img
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="imgUrl != null">
                img_url,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="text != null">
                text,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="imgUrl != null">
                #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="text != null">
                #{text,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cmcc.mobile.yiqi.entity.BannerImg">
        update banner_img
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="imgUrl != null">
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="text != null">
                text = #{text,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="cmcc.mobile.yiqi.entity.BannerImg">
        update banner_img
        set create_time = #{createTime,jdbcType=BIGINT},
        img_url = #{imgUrl,jdbcType=VARCHAR},
        type = #{type,jdbcType=VARCHAR},
        text = #{text,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_List"/>,CONCAT(#{imgUrl},img_url) as img_url
        from banner_img
    </select>
    
     <insert id="addReplenishment" parameterType="cmcc.mobile.yiqi.entity.TProductLog">
        insert into t_product_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="machineId != null">
                machine_id,
            </if>
            <if test="corpId != null">
                corp_id,
            </if>
            <if test="containerNumber != null">
                container_number,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
               <if test="productNumber != null">
                product_number,
            </if>
                  <if test="createUserId != null">
                create_user_id,
            </if>
                  <if test="type != null">
                type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="machineId != null">
                #{machineId,jdbcType=VARCHAR},
            </if>
            <if test="corpId != null">
                #{corpId,jdbcType=BIGINT},
            </if>
            <if test="containerNumber != null">
                #{containerNumber,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
                  <if test="productNumber != null">
                #{productNumber,jdbcType=INTEGER},
            </if>
                  <if test="createUserId !=null">
                #{createUserId,jdbcType=BIGINT},
            </if>
                  <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <insert id="insertOrder" parameterType="cmcc.mobile.yiqi.vo.Product">
     insert into t_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
              <if test="outTradeNo != null">
                order_code,
            </if>
              <if test="productId != null">
                product_id,
            </if>
              <if test="totalFee != null">
                money,
            </if>
             <if test="createTime != null">
                create_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="returnCode != null">
                return_code,
            </if>
             <if test="spbillCreateIp != null">
                order_ip,
            </if>
               <if test="appId != null">
                app_id,
            </if>
               <if test="mchId != null">
                mch_id,
            </if>
             </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="outTradeNo != null">
                #{outTradeNo},
            </if>
              <if test="productId != null">
                #{productId},
            </if>
              <if test="totalFee != null">
                #{totalFee},
            </if>
             <if test="createTime != null">
                #{createTime},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="returnCode != null">
                #{returnCode},
            </if>
             <if test="spbillCreateIp != null">
                #{spbillCreateIp},
            </if>
                 <if test="appId != null">
                #{appId},
            </if>
               <if test="mchId != null">
                #{mchId},
            </if>
            </trim>
    </insert>
    <select id="selectByProduct" resultMap="BaseMap" parameterType="java.lang.Long">
    select t.*,c.app_id as appId,c.mch_id as mchId from t_app_product t left join 
    t_app_company c on t.corp_id = c.id where t.id = #{productId}
    </select>
    
    <select id="getOrderList" resultMap="BaseObject" parameterType="map">
    SELECT t.product_name as productName,count(o.product_id) as productNumber,SUM(o.money) as price ,t.type ,o.create_time as createTime FROM  
    t_app_product t  LEFT JOIN 
    t_order o on o.product_id = t.id
    <if  test="userId !=1">
    left join
    t_app_user_company c on c.cid = t.corp_id
    </if>
    WHERE o.id is NOT NULL
    <if test="corpId!=null">
    and t.corp_id = #{corpId}
    </if>
    <if test="userId !=1">
    and c.uid = #{userId}
    </if>
    <if test="time!=null">
      <![CDATA[and date_sub(curdate(), INTERVAL #{time} DAY) <= DATE(FROM_UNIXTIME(o.create_time/1000))]]>
    </if>
    <if test="category!=null">
    GROUP BY t.type,t.corp_id
    </if>
    <if test="category==null">
    GROUP BY o.product_id,t.corp_id
    </if>

    
</select>

    <select id="getAllOrderList" resultMap="BaseObject" parameterType="map">
    SELECT t.product_name as productName,count(o.product_id) as productNumber,SUM(o.money) as price ,t.type ,o.create_time as createTime ,FROM_UNIXTIME(o.create_time/1000, '%H') as hours FROM  
    t_app_product t  LEFT JOIN 
    t_order o on o.product_id = t.id
    <if  test="userId !=1">
    left join
    t_app_user_company c on c.cid = t.corp_id
    </if>
    WHERE o.id is NOT NULL
    <if test="corpId!=null">
    and t.corp_id = #{corpId}
    </if>
     <if test="time!=null">
      <![CDATA[and date_sub(curdate(), INTERVAL #{time} DAY) <= DATE(FROM_UNIXTIME(o.create_time/1000))]]>
    </if>
    <if test="userId !=1">
    and c.uid = #{userId}
    </if>
    GROUP BY FROM_UNIXTIME(o.create_time/1000, '%H'),t.id
    
</select>

    <select id="getOrderDetail" resultMap="BaseObject" parameterType="map">
    SELECT t.product_name as productName,o.money as price ,t.type ,o.create_time as createTime,o.status,o.order_code as orderCode, t.machine_id as machineId,t.container_number as containerNumber,o.product_id as productId FROM  
    t_app_product t  LEFT JOIN 
    t_order o on o.product_id = t.id
    WHERE o.id is NOT NULL
    <if test="corpId!=null">
    and t.corp_id = #{corpId}
    </if>
    <if test="userId !=1">
    and c.uid = #{userId}
    </if>
    <if test="status!=null">
    and o.status = #{status}
    </if>
    <if test="productName !=null">
    and t.product_name like "%${productName}%"
    </if>
    <if test="startTime !=null and endTime !=null">
    <![CDATA[#{startTime}<=o.create_time<=#{endTime}]]>
    </if>
        <if test="startRow != null and endRow != null">
            limit
            #{startRow,jdbcType=INTEGER},#{endRow,jdbcType=INTEGER}
        </if>


    
</select>

<select id="selectByRefund" resultMap="object" parameterType="java.lang.Long">
select c.* from t_app_product t left join t_app_company c on t.corpId = c.id where t.id = #{productId} 
</select>

<insert id="insetRefund" parameterType="cmcc.mobile.yiqi.entity.TRefund">
     insert into t_refund
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
              <if test="orderCode != null">
                order_code,
            </if>
              <if test="refundCode != null">
                refund_code,
            </if>
            <if test="createTime !=null">
            create_time
            </if>
            <if test="status !=null">
            status
            </if>
            <if test="userId !=null">
            user_id
            </if>
            </trim>
             <trim prefix="values (" suffix=")" suffixOverrides=",">
                  <if test="id != null">
                #{id},
            </if>
             <if test="orderCode != null">
                #{orderCode},
            </if>
              <if test="refundCode != null">
                #{refundCode},
            </if>
            <if test="createTime !=null">
            #{createTime},
            </if>
            <if test="status !=null">
            #{status},
            </if>
            <if test="userId !=null">
            #{userId}
            </if>
             </trim>
</insert>
<update id="updateOrder" parameterType="java.lang.String">
update t_order set status = 2 where order_code = #{orderCode}
</update>

<select id="selectByCode" parameterType="java.lang.String" resultMap="BaseObject">
select t.* from t_app_product t left join t_order o on t.id=o.product_id where o.order_code = #{orderCode}
</select>

<update id="updateOrderByCode" parameterType="cmcc.mobile.yiqi.vo.Product">
update t_order set status = #{status},
create_time = #{createTime} 
where order_code = #{outTradeNo}
</update>

<insert id="insertMachindeRegister" parameterType="java.lang.String">
    insert into t_intelligent_log (machine_id,create_time,led_status)values(#{machine},now(),1)
</insert>
<insert id="insertMachindeRegister" parameterType="cmcc.mobile.yiqi.entity.TOpenBoxLog">
    insert into t_intelligent_log 
<trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
              <if test="createTime != null">
                create_time,
            </if>
              <if test="machineId != null">
                machine_id,
            </if>
            <if test="corpId !=null">
            corp_id,
            </if>
            <if test="status !=null">
            status,
            </if>
            <if test="userId !=null">
            user_id,
            </if>
                <if test="containerNumber !=null">
            container_number,
            </if>
                <if test="productName !=null">
            product_name,
            </if>
                       <if test="type !=null">
            type
            </if>
            </trim>
             <trim prefix="values (" suffix=")" suffixOverrides=",">
                  <if test="id != null">
                #{id},
            </if>
             <if test="createTime != null">
                #{createTime},
            </if>
              <if test="corpId != null">
                #{corpId},
            </if>
            <if test="machineId !=null">
            #{machineId},
            </if>
               <if test="corpId != null">
                #{corpId},
            </if>
            <if test="status !=null">
            #{status},
            </if>
            <if test="userId !=null">
            #{userId},
            </if>
           <if test="containerNumber !=null">
            #{containerNumber},
            </if>
           <if test="productName !=null">
            #{productName},
            </if>
             <if test="type !=null">
            #{type}
            </if>
             </trim>
</insert>
</mapper>