<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cmcc.mobile.yiqi.entity.dao.TAppbakExcelMapper" >
  <resultMap id="BaseResultMap" type="cmcc.mobile.yiqi.entity.TAppbakExcel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cid" property="cid" jdbcType="BIGINT" />
    <result column="bak_path" property="bakPath" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="bak_count" property="bakCount" jdbcType="INTEGER" />
    <result column="bak_resource" property="bakResource" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cid, bak_path, status, create_time, update_time, bak_count, bak_resource
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_app_bak_excel
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_app_bak_excel
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cmcc.mobile.yiqi.entity.TAppbakExcel" >
    insert into t_app_bak_excel (id, cid, bak_path, 
      status, create_time, update_time, 
      bak_count, bak_resource)
    values (#{id,jdbcType=BIGINT}, #{cid,jdbcType=BIGINT}, #{bakPath,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, 
      #{bakCount,jdbcType=INTEGER}, #{bakResource,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cmcc.mobile.yiqi.entity.TAppbakExcel" >
    insert into t_app_bak_excel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="bakPath != null" >
        bak_path,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="bakCount != null" >
        bak_count,
      </if>
      <if test="bakResource != null" >
        bak_resource,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=BIGINT},
      </if>
      <if test="bakPath != null" >
        #{bakPath,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="bakCount != null" >
        #{bakCount,jdbcType=INTEGER},
      </if>
      <if test="bakResource != null" >
        #{bakResource,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cmcc.mobile.yiqi.entity.TAppbakExcel" >
    update t_app_bak_excel
    <set >
      <if test="cid != null" >
        cid = #{cid,jdbcType=BIGINT},
      </if>
      <if test="bakPath != null" >
        bak_path = #{bakPath,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="bakCount != null" >
        bak_count = #{bakCount,jdbcType=INTEGER},
      </if>
      <if test="bakResource != null" >
        bak_resource = #{bakResource,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cmcc.mobile.yiqi.entity.TAppbakExcel" >
    update t_app_bak_excel
    set cid = #{cid,jdbcType=BIGINT},
      bak_path = #{bakPath,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      bak_count = #{bakCount,jdbcType=INTEGER},
      bak_resource = #{bakResource,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>