#wrapper {
    width: 100%;
    overflow-x: hidden;
}

.page-wrapper {
    margin: 0 0 0 200px;
    padding: 60px 20px 0;
}

.page-heading {
    padding-bottom: 20px;
    border-bottom: 1px solid #dddddd;
}

.navbar-static-top {
    margin-bottom: 0;
    background-color: #46a0dd;
    border: none;
}

.navbar-static-top .nav-header {
    color: #fff;

    a {
        color: #fff;
    }

    h1 {
        margin: 0;
        padding: 0 20px;
        font-size: 18px;
        height: 60px;
        line-height: 60px;
    }

}

.navbar-top-links {
    margin-right: 20px;
}

.navbar-top-links > li {
    display: inline-block;
}

.navbar-top-links,
.navbar-top-links > li > a,
.navbar-top-links a {
    color: #fff;
}

.navbar-top-links > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-top-links .open > a:hover,
.navbar-top-links .open > a:focus,
.navbar-top-links > li > a:hover,
.navbar-top-links > li > a:focus {
    background-color: transparent;
}

.wrapper-content {
    padding: 20px 0 40px;
}

.navbar-static-side {
    z-index: 500;
    position: fixed;
    top: 60px;
    bottom: 0;
    width: 200px;
    background-color: #e3e7f1;
    overflow-y: auto;
}

.primary-nav,
.primary-nav ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.primary-nav li {
    position: relative;
    display: block;
}

.primary-nav i.fa {
    margin-right: 8px;
}

.primary-nav li > a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #5d6c7a;
    padding: 15px 20px;
}

.primary-nav a:hover {
    background-color: #f3f3f7;
    color: #394963;
}

.primary-nav .active {
    border-left: 4px solid #46a0dd;
}

.nav-second-level li > a {
    padding-left: 52px;
}