.alert-modal-dialog,
.confirm-modal-dialog {
    width: 300px;
    word-wrap: break-word;
}

.modal-header {
    background-color: #46a0dd;
    color: #fff;
}

.modal-header .close {
    font-weight: 500;
    opacity: initial;
    color: #fff;
}

.modal-title {
    font-weight: 500;
}

.modal-body {
    min-height: 80px;
}

.modal-sms {
    .sms-content,
    .sms-receivers {
        padding: 10px;
        height: 200px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #fcf8e3;
    }

    .sms-receivers {
        background-color: #f5f5f5;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                line-height: 20px;
            }

        }

    }

}