
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1480051057347'); /* IE9*/
  src: url('iconfont.eot?t=1480051057347#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1480051057347') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1480051057347') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1480051057347#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before { content: "\e614"; }

.icon-zuzhi:before { content: "\e616"; }

.icon-add:before { content: "\e7bf"; }

.icon-warning:before { content: "\e618"; }

.icon-plus:before { content: "\e610"; }

.icon-times:before { content: "\e615"; }

.icon-xiangshang:before { content: "\e60f"; }

.icon-xiangxia:before { content: "\e611"; }

.icon-xiangyou:before { content: "\e612"; }

.icon-xiangzuo:before { content: "\e613"; }

.icon-clock:before { content: "\e600"; }

.icon-timescircle:before { content: "\e601"; }

.icon-checklist:before { content: "\e602"; }

.icon-user:before { content: "\e603"; }

.icon-calendaro:before { content: "\e604"; }

.icon-checkcircleo:before { content: "\e605"; }

.icon-checklist2:before { content: "\e606"; }

.icon-checklist3:before { content: "\e607"; }

.icon-comments:before { content: "\e608"; }

.icon-edit:before { content: "\e609"; }

.icon-forward:before { content: "\e60a"; }

.icon-infocircleo:before { content: "\e60b"; }

.icon-paperclip:before { content: "\e60c"; }

.icon-timescircleo:before { content: "\e60d"; }

.icon-users:before { content: "\e60e"; }

.icon-icon7:before { content: "\e637"; }

.icon-dot:before { content: "\e617"; }

.icon-shaixuan:before { content: "\e619"; }

.icon-sousuo_sousuo:before { content: "\e62c"; }

.icon-icon:before { content: "\e604"; }

